// Specific CSS for your home-page
body {
  background-color: #FEFEFE;
  border: none;
}

.wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.container {
  position: relative;
  width: 80%;
  margin: auto;
}

h2, h3, h4, h5, h6 {
  color: #0a0118;
  letter-spacing: 1.5px;
  line-height: 150%;
}


.title {
  position: absolute;
  top: 0px;
  left: 30px;
  border-bottom: 1px solid #0a0118;
  font-style: italic;
}

.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 50px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-color: #0a0118;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50px;
}


.img-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    height: 60vh;
  }
}

.text-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
  h2 {
    margin: 0px;
    padding: 0px;
    color: #C1C1C4;
  }
}

.footer {
  background-color: #0a0118;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
}
