// Specific CSS for your home-page
body {
  background-color: #FEFEFE;
  border: none;
}

.wrapper {
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
}

.container {
  position: relative;
  width: 70%;
  margin: auto;
}

h2, h3, h4, h5, h6 {
  color: #0a0118;
  letter-spacing: 1.2px;
  line-height: 140%;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 13px;
}

.hidenavbar {
  position: absolute;
  height: 70px;
  background-color: #FEFEFE;
  z-index: 1000;
  right: 0px;
  left: 0px;
  top: 0px
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.banner {
  text-align: center;
  height: calc(100vh - 50px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-color: #FEFEFE;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50px;
}

.content-banner {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  img {
    width: 180px;
    margin: auto;
  }
  h2 {
    font-family: 'Libre Baskerville', "serif";
    line-height: 100%;
    margin-top: -10px;
  }
}

.footer {
  background-color: #0a0118;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
}
