.particuliers-pic {
  width: 100%;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat;
  h5 {
    color: transparent;
  }
}

.panel-default {
  border: none;
  margin-top: 60px;
}

.panel-default .panel-heading {
  background-color: transparent;
}

.panel-heading {
  background-color: white;
  border: none;
  padding: 0px;
  .panel-title{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    color: #0a0118;
    font-size: 18px;
    font-weight: bolder;
  }
}

.panel {
  box-shadow: none;
}

.panel-body {
  letter-spacing: 2px;
  color: #0a0118;
  width: 70%;
  padding: 0px;
}

.btn-defisc {
  background-color: #C1C1C4;
  padding: 4px;
  color: #0a0118;
  font-size: 14px;
  margin-left: 12px;
  border: 2px solid #C1C1C4;
  font-weight: bold;
}

.btn-defisc:hover {
  background-color: white;
  color: #0a0118;
  cursor: pointer;
}

.modal-content {
  padding: 25px;
}
