.particuliers-pic {
  width: 90%;
  height: 500px;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  h5 {
    color: transparent;
  }
}

.entreprises-pic {
  width: 90%;
  height: 200px;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  h5 {
    color: transparent;
  }
}

.entreprises-pic-big {
  width: 90%;
  height: 450px;
  background-position: center;
  background-size: cover !important;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  h5 {
    color: transparent;
  }
}

@media screen and (max-width: 992px) {
  .particuliers-pic {
    width: 100%;
  }
}


.panel-default {
  border: none;
}

.panel-default .panel-heading {
  background-color: transparent;
}

.panel-heading {
  background-color: white;
  border: none;
  padding: 0px;
  .panel-title {
    color: #0a0118;
    display: inline-block;
    h5 {
      font-weight: bolder;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.panel {
  box-shadow: none;
  margin-top: 20px;
}

.panel-body {
  letter-spacing: 1.2px;
  color: #0a0118;
  width: 100%;
  padding: 0px;
  font-size: 13px;
  margin-top: 12px;
  text-align: justify;
}

.btn-defisc {
  color: #0a0118;
  border-bottom: 2px solid #C1C1C4;
  font-weight: bold;
}

.btn-defisc:hover {
  background-color: white;
  color: #0a0118;
  cursor: pointer;
}

.modal-content {
  padding: 25px;
  border: 10px solid #FEFEFE;
  h3 {
    color: #918D97;
  }
}

.presse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 80px;
  }
}

@media screen and (max-width: 922px) {
  .presse img {
    width: 80px;
  }
}

@media screen and (max-width: 707px) {
  .presse img {
    width: 60px;
  }
}

@media screen and (max-width: 512px) {
  .presse {
    flex-flow: column;
    img {
      margin-top: 40px;
      width: 100px;
    }
  }
}


