.accroche {
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
  h5 {
    text-align: left;
  }
}

.row-studio {
  width: 80%;
  margin: auto;
}

.img-studio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    width: 60%;
    margin: auto;
  }
}

