<div class="wrapper">
  <div class="container accroche">
  <h5>La prospective est l’analyse des futurs possibles : c’est la démarche qui vise, dans une démarche à la fois rationnelle et systémique, à se préparer dès aujourd'hui à demain. <br><br>Un détour par le futur pour revenir dans le présent : apprendre à regarder votre activité à échelle 10, 20 ou même 30 ans permet de regarder la vie d’aujourd’hui autrement.</h5>
  </div>
</div>
