<div class="wrapper banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 img-banner">
        <%= image_tag "banner.jpg" %>
      </div>
      <div class="col-xs-6 text-banner ">
        <h2 style="font-size: 50px;">Studio Cariatide<br> <span style="font-style: italic; font-size: 20px;">Art — Design — Architecture</span></h2>
      </div>
    </div>
  </div>
</div>
