<div class="wrapper banner" id="top-page">
  <div class="container content-banner">
    <h2 style="font-size: 46px;">Studio Cariatide<br> <span style="font-style: italic; font-size: 16px;">Art — Design — Architecture</span></h2>
    <%= image_tag "logo.png" %>
  </div>
</div>
