<div class="wrapper" id="contact">
  <h2 class="title">Contact</h2>
  <div class="container">
  <h5>Si vous souhaitez avoir accès à notre catalogue d’artistes, nous poser une question ou en savoir plus sur notre agence n’hésitez pas à nous  contacter par mail à l’adresse suivante : <br><br>contact@studio-cariatide.com <br><br>Ou directement par téléphone au : 06 75 70 13 14 <br><br>
  Pour toute demande de collaboration artiste, merci de bien vouloir adresser un mail à (insérer email) avec un lien vers vos travaux (ou photos des oeuvres) et une biographie.</h5>
  <h2 class="text-center">
    <a href="" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true" style="margin: 20px; color: #0a0118"></i></a>
    <a href="https://www.instagram.com/studiocariatide/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="margin: 20px; color: #0a0118"></i></a>
  </h2>
  </div>
</div>
