<div class="wrapper" id="entreprises">
  <h2 class="title">Entreprises</h2>
  <div class="container">
    <div class="row" style="margin-bottom: 40px;">
      <div class="col-md-6 col-xs-12">
        <div class="particuliers-pic" style="background-image: url('<%= image_path('studio2.jpg') %>');">
          <h5>Vous êtes une entreprise et vous souhaitez insuffler une aura artistique à votre lieu de travail : bureaux, open-space, salle de réunion, salle d’accueil ? <br><br> Nous sommes à votre service pour vous aider à valoriser ces espaces et les rendre exceptionnels ! Encore aujourd’hui, les entreprises n’utilisent pas ou peu ces espaces, pourtant de nombreuses études démontrent que l’art en entreprise possède de nombreuses vertus <br><br>
          Pourquoi l'art en entreprise?</h5>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <h5>Vous êtes une entreprise et vous souhaitez insuffler une aura artistique à votre lieu de travail : bureaux, open-space, salle de réunion, salle d’accueil ? <br><br> Nous sommes à votre service pour vous aider à valoriser ces espaces et les rendre exceptionnels ! Encore aujourd’hui, les entreprises n’utilisent pas ou peu ces espaces, pourtant de nombreuses études démontrent que l’art en entreprise possède de nombreuses vertus <br><br>
        <a type="button" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn-defisc">Pourquoi l'Art en entreprise?</a></h5>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>

    <h3>Pourquoi l'art en entreprise?</h3>
    <h5>
    <i class="fa fa-caret-right"></i> L’image et la notoriété de l’entreprise se développent<br>
    <i class="fa fa-caret-right"></i> Une optimisation des finances <strong>: Déduisez 100% du montant de l'oeuvre de vos impôts !</strong><br>
    <a href="/defiscalisation" target="_blank" class="btn-defisc">Plus d'information</a><br>
    <i class="fa fa-caret-right"></i> Un enrichissement de l’entreprise et de son patrimoine<br>
    <i class="fa fa-caret-right"></i> Le bien-être et la créativité de ses salariés<br>
    <i class="fa fa-caret-right"></i> Un mécénat bénéfique pour l’art contemporain.</h5>
    </div>
  </div>
</div>
