<div class="wrapper" id="entreprises">
  <h2 class="title">Entreprises</h2>
  <div class="container">
    <h5>À la différence des objets d’art classiques (tableaux, sculptures, dessins,…) étriqués et réduits à une forme plastique simple, que nous posons ou accrochons, les oeuvres de nos artistes s’incorporent naturellement dans votre intérieur. Murs et plafonds par exemple, ces surfaces vierges au potentiel inexploité deviennent des supports de création sur lesquels nos œuvres s’expriment pleinement. </h5>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
        <a class="accordion-toggle collapsed hvr-underline-from-left" data-toggle="collapse" data-parent="#accordion" href="#collapse4">Comment choisir l’artiste?</a>
        </h5>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
          <h5>Nous sommes à votre écoute et serons très heureux de vous présenter nos artistes sur consultation. Notre rôle est de vous conseiller et de mettre notre expérience à votre service pour vous apporter des réponses liées à vos choix et goûts artistiques.</h5>
        </div>
      </div>
      <div class="panel-heading">
        <h5 class="panel-title">
        <a class="accordion-toggle collapsed hvr-underline-from-left" data-toggle="collapse" data-parent="#accordion" href="#collapse5">Combien ça coûte?</a>
        </h5>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
          <h5>Nous prenons également en compte votre budget pour déterminer avec l’artiste, la future création. Par la suite, nous vous enverrons gratuitement notre devis.</h5>
        </div>
      </div>
      <div class="panel-heading">
        <h5 class="panel-title">
        <a class="accordion-toggle collapsed hvr-underline-from-left" data-toggle="collapse" data-parent="#accordion" href="#collapse6">Comment la commande se matérialise?</a>
        </h5>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">
          <h5>Après validation, nous organiserons une rencontre avec l’artiste afin que vous puissiez échanger directement avec lui, de la façon la plus naturelle possible. Un rendez-vous important qui lui permettra de faire connaissance avec vous et votre environnement et vous proposer une création qui vous ressemble en adéquation avec votre univers et votre intérieur. <br>
          Avant la réalisation de l’oeuvre in situ, une simulation numérique ou esquisse papier du projet vous sera envoyée. Vous pourrez ainsi visualiser la future création et mieux vous projeter.</h5>
        </div>
      </div>
    </div>
  </div>
</div>

