<div class="wrapper" id="entreprises">
  <h2 class="title">Entreprises</h2>
  <div class="container">
    <div class="row" style="margin-bottom: 40px;">
      <div class="col-md-6 col-xs-12">
        <div class="particuliers-pic" style="background-image: url('<%= image_path('studio2.jpg') %>');">
          <h5>Vous êtes une entreprise et vous souhaitez insuffler une aura artistique à votre lieu de travail : bureaux, open-space, salle de réunion, salle d’accueil ? Nous sommes à votre service pour vous aider à valoriser ces espaces et les rendre exceptionnels ! Encore aujourd’hui, les entreprises n’utilisent pas ou peu ces espaces, pourtant de nombreuses études démontrent que l’art en entreprise possède de nombreuses vertus</h5>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <h5>Vous êtes une entreprise et vous souhaitez insuffler une aura artistique à votre lieu de travail : bureaux, open-space, salle de réunion, salle d’accueil ? Nous sommes à votre service pour vous aider à valoriser ces espaces et les rendre exceptionnels ! Encore aujourd’hui, les entreprises n’utilisent pas ou peu ces espaces, pourtant de nombreuses études démontrent que l’art en entreprise possède de nombreuses vertus</h5>
      </div>
    </div>
    <h5>
    . L’image et la notoriété de l’entreprise se développent<br>
    . Une optimisation des finances <a type="button" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn-defisc">Plus d'information</a><br>
    . Un enrichissement de l’entreprise et de son patrimoine<br>
    . Le bien-être et la créativité de ses salariés<br>
    . Un mécénat bénéfique pour l’art contemporain.</h5>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
        <a class="accordion-toggle collapsed hvr-underline-from-left" data-toggle="collapse" data-parent="#accordion" href="#collapse4">Comment choisir l’artiste?</a>
        </h5>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
          <h5>Nous sommes à votre écoute et serons très heureux de vous présenter nos artistes sur consultation. Notre rôle est de vous conseiller et de mettre notre expérience à votre service pour vous apporter des réponses liées à vos choix et goûts artistiques.</h5>
        </div>
      </div>
      <div class="panel-heading">
        <h5 class="panel-title">
        <a class="accordion-toggle collapsed hvr-underline-from-left" data-toggle="collapse" data-parent="#accordion" href="#collapse5">Combien ça coûte?</a>
        </h5>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
          <h5>Nous prenons également en compte votre budget pour déterminer avec l’artiste, la future création. Par la suite, nous vous enverrons gratuitement notre devis.</h5>
        </div>
      </div>
      <div class="panel-heading">
        <h5 class="panel-title">
        <a class="accordion-toggle collapsed hvr-underline-from-left" data-toggle="collapse" data-parent="#accordion" href="#collapse6">Comment la commande se matérialise?</a>
        </h5>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">
          <h5>Après validation, nous organiserons une rencontre avec l’artiste afin que vous puissiez échanger directement avec lui, de la façon la plus naturelle possible. Un rendez-vous important qui lui permettra de faire connaissance avec vous et votre environnement et vous proposer une création qui vous ressemble en adéquation avec votre univers et votre intérieur. <br>
          Avant la réalisation de l’oeuvre in situ, une simulation numérique ou esquisse papier du projet vous sera envoyée. Vous pourrez ainsi visualiser la future création et mieux vous projeter.</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>

      <h3>Défiscalisation pour les entreprises</h3>
      <h5>L’Article 238 bis AB du CGI : <br>
      « Les entreprises qui achètent, à compter du 1er janvier 2002, des œuvres originales d'artistes vivants et les inscrivent à un compte d'actif immobilisé peuvent déduire du résultat de l'exercice d'acquisition et des quatre années suivantes, par fractions égales, une somme égale au prix d'acquisition. » <br> <br>
      Les conditions :  <br>
      • Il doit s’agir d’une œuvre originale d’un artiste vivant ;  <br>
      • L’œuvre doit être exposée pendant 5 ans « dans un lieu accessible au public ou aux salariés » ;  <br>
      • Le montant de la déduction est égal au prix HT augmenté des frais accessoires ;  <br>
      • La déduction est pratiquée à hauteur d’ 1/5ème du prix (dans la limite de 0,5% du CA) par an pendant 5 ans. <br>
       Le site du ministère de la culture ou du service public, décrit les avantages du mécénat d’entreprise pour les acquisitions d’œuvres d’art contemporaines. Pour plus d’informations : https://www.service-public.fr/professionnels-entreprises/vosdroits/F32914 ou contactez-nous par mail ici (insérer lien vers mail) <br><br>
      Exemple : <br>

      Une entreprise réalise un C.A. de 200 000 € <br>
      Elle réalise une acquisition d’une ou plusieurs œuvres pour un montant de 5 000 € <br>
      Plafond de déduction : 200 000 X 5°/oo = 1 000 € <br>
      L’entreprise peut déduire 1000 € tous les ans (pendant 5 ans), soit 5 000 €. </h5> 
    </div>
  </div>
</div>
