<div class="footer">
  <p>Mentions légales</p>
  <a href="https://www.instagram.com/studiocariatide/" target="_blank"><i class="fab fa-instagram" aria-hidden="true" style="margin: 20px; color: white"></i></a>
</div>
