<div class="wrapper" style="background-color: #F2F9FE" id="histoire">
  <div class="container team" style="padding-top: 40px; padding-bottom: 40px;">
    <h2>Histoire</h2>
    <div class="row">
      <div class="col-md-8">
        <div class="histoire-text">
          <h6>Le Studio Beyond est né du dossier de candidature française à l’Exposition Universelle de 2025 ! <br><br>

          En 2013, Chloée, la fondatrice, a travaillé un an à concevoir l’avant- projet du dossier o iciel de la France - qui a depuis été déposé auprès du Bureau International des Expositions. C’était sa première expérience d’étude prospective ! <br><br>

          Le projet était porté par l’association ExpoFrance2925, et l’objectif était de convaincre le Président, le Gouvernement ainsi que le Parlement de valider la candidature de la France. <br><br>

          Le brief était de retrouver l’ADN de cet événement international inventé au XIXème siècle et qui ne correspond plus aux attentes d’aujourd’hui... et encore moins à celles de 2025 ! <br><br>

          Depuis, elle a conçu une offre, un réseau de partenariats, levé des fonds auprès d’un industriel français, validé ses premiers clients et recruté !</h6>
        </div>
      </div>
      <div class="col-md-4">
        <div class="histoire-pic" style="background-image: url('<%= image_path("histoire.png") %>');">
        </div>
      </div>
    </div>
  </div>
