<div class="wrapper" id="oeuvres">
  <div class="container">
    <h2 class="title">Les oeuvres</h2>
    <div class="carousel_wrapper" style="position: relative;">
      <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4500">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag("banner1.png") %>
          </div>
          <div class="item">
            <%= image_tag("bureau1.png") %>
          </div>
          <div class="item">
            <%= image_tag("bureau2.png") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
