<div class="wrapper" id="oeuvres">
  <div class="container">
    <h2 class="title">Les oeuvres</h2>
    <div class="carousel_wrapper" style="position: relative;">
      <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4500">
        <div class="carousel-inner" role="listbox">
          <div class="item active" style="background-image: url('<%= image_path("carousel24.png") %>');">
          </div>
          <div class="item" style="background-image: url('<%= image_path("carousel25.png") %>');">
          </div>
          <div class="item" style="background-image: url('<%= image_path("carousel26.png") %>');">
          </div>
        </div>
      </div>
    </div>
    <a class="btn-oeuvres" href="/oeuvres" target="_blank">Découvrir toutes les oeuvres</a>
  </div>
</div>
