<div class="wrapper" id="particuliers">
  <h2 class="title">Particuliers</h2>
  <div class="container">
    <div class="row" style="margin-bottom: 40px;">
      <div class="col-md-5 col-xs-12">
        <div class="particuliers-pic" style="background-image: url('<%= image_path('studio2.jpg') %>');">
        </div>
      </div>
      <div class="col-md-7 col-xs-12">
        <h5 style="text-align: justify; margin-top: 0px;">À la différence des objets d’art classiques (tableaux, sculptures, dessins,…) étriqués et réduits à une forme plastique simple, que nous posons ou accrochons, les oeuvres de nos artistes s’incorporent naturellement dans votre intérieur. Murs et plafonds par exemple, ces surfaces vierges au potentiel inexploité deviennent des supports de création sur lesquels nos œuvres s’expriment pleinement. </h5>
        <h5 style="text-align: justify;">Murales ou spatiales, elles se matérialisent comme une enveloppe ou une extraction artistique de votre architecture. Toutes les parois de votre pièce sont d’autant de supports que nos artistes peuvent façonner, valoriser et sublimer. Votre intérieur se voit ainsi habité d’une aura artistique exceptionnelle.</h5>
        <h5 style="text-align: justify;">Le caractère personnel et exclusif de l’oeuvre créée rendra votre pièce unique. Une manière originale et avant-gardiste d’envisager l’art et son acquisition !</h5>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><h5 class="btn-defisc">Comment choisir l’artiste?</h5></a>
        </div>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
        Nous sommes à votre écoute et serons très heureux de vous présenter nos artistes sur consultation. Notre rôle est de vous conseiller et de mettre notre expérience à votre service pour vous apporter des réponses liées à vos choix et goûts artistiques.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><h5 class="btn-defisc">Combien ça coûte?</h5></a>
        </div>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
        Nous prenons également en compte votre budget pour déterminer avec l’artiste, la future création. Par la suite, nous vous enverrons gratuitement notre devis.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><h5 class="btn-defisc">Comment la commande se matérialise?</h5></a>
        </div>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
        Après validation, nous organiserons une rencontre avec l’artiste afin que vous puissiez échanger directement avec lui, de la façon la plus naturelle possible. Un rendez-vous important qui lui permettra de faire connaissance avec vous et votre environnement et vous proposer une création qui vous ressemble en adéquation avec votre univers et votre intérieur. <br>
        Avant la réalisation de l’oeuvre in situ, une simulation numérique ou esquisse papier du projet vous sera envoyée. Vous pourrez ainsi visualiser la future création et mieux vous projeter.
        </div>
      </div>
    </div>
  </div>
</div>













