<div class="wrapper" id="particuliers">
  <h2 class="title">Particuliers</h2>
  <div class="container">
    <div class="row" style="margin-bottom: 40px;">
      <div class="col-md-6 col-xs-12">
        <div class="particuliers-pic" style="background-image: url('<%= image_path('studio2.jpg') %>');">
          <h5>À la différence des objets d’art classiques (tableaux, sculptures, dessins,…) étriqués et réduits à une forme plastique simple, que nous posons ou accrochons, les oeuvres de nos artistes s’incorporent naturellement dans votre intérieur. Murs et plafonds par exemple, ces surfaces vierges au potentiel inexploité deviennent des supports de création sur lesquels nos œuvres s’expriment pleinement. </h5>
          <h5>Murales ou spatiales, elles se matérialisent comme une enveloppe ou une extraction artistique de votre architecture. Toutes les parois de votre pièce sont d’autant de supports que nos artistes peuvent façonner, valoriser et sublimer. Votre intérieur se voit ainsi habité d’une aura artistique exceptionnelle.</h5>
          <h5>Le caractère personnel et exclusif de l’oeuvre créée rendra votre pièce unique. Une manière originale et avant-gardiste d’envisager l’art et son acquisition !</h5>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <h5>À la différence des objets d’art classiques (tableaux, sculptures, dessins,…) étriqués et réduits à une forme plastique simple, que nous posons ou accrochons, les oeuvres de nos artistes s’incorporent naturellement dans votre intérieur. Murs et plafonds par exemple, ces surfaces vierges au potentiel inexploité deviennent des supports de création sur lesquels nos œuvres s’expriment pleinement. </h5>
        <h5>Murales ou spatiales, elles se matérialisent comme une enveloppe ou une extraction artistique de votre architecture. Toutes les parois de votre pièce sont d’autant de supports que nos artistes peuvent façonner, valoriser et sublimer. Votre intérieur se voit ainsi habité d’une aura artistique exceptionnelle.</h5>
        <h5>Le caractère personnel et exclusif de l’oeuvre créée rendra votre pièce unique. Une manière originale et avant-gardiste d’envisager l’art et son acquisition !</h5>
      </div>
    </div>
  </div>
</div>













