<div class="wrapper" id="studio">
  <h2 class="title">Le Studio</h2>
  <div class="container">
    <div class="accroche">
      <h5>Studio Cariatide est une agence parisienne regroupant de jeunes artistes émergents et confirmés. Sélectionnés pour leur travail fin et subtil, ils incarnent un art nouveau pluridisciplinaire dont l’ADN hybride entremêle à la fois : art et artisanat, scénographie et design d’intérieur. <br><br>
      La caractéristique de nos artistes est de créer des <strong>œuvres murales et spatiales</strong> chez les particuliers (appartements, maisons, lofts…) et les entreprises ( bureaux, locaux, cabinets…). <br><br>
      Inspirées par l’atmosphère du lieu et <strong>conçues in situ</strong>, nos œuvres s’incorporent à un intérieur sans jamais le dénaturer, dotant ce dernier d’une aura nouvelle et donnant vie à son architecture.  <br>
      Studio Cariatide vous propose une manière originale et avant-gardiste d’envisager l’art et son acquisition. <br><br>
      <a type="button" data-toggle="modal" data-target=".bs-example-modal-lg2" class="btn-defisc">Comment choisir l'artiste? Combien ça coûte?</a></h5>
    </div>
    <div class="row">
      <div class="col-xs-6 img-studio">
        <%= image_tag "studio1.jpg"  %>
      </div>
      <div class="col-xs-6 img-studio">
        <%= image_tag "studio2.jpg"  %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 30px; color: #008489"><i class="fa fa-times" aria-hidden="true"></i></button>
      <h5 style="text-decoration: underline; margin-top: 20px"><strong>Comment choisir l’artiste?</strong></h5>
      <h5>Nous sommes à votre écoute et serons très heureux de vous présenter nos artistes sur consultation. Notre rôle est de vous conseiller et de mettre notre expérience à votre service pour vous apporter des réponses liées à vos choix et goûts artistiques.</h5>
      <h5 style="text-decoration: underline; margin-top: 20px"><strong>Combien ça coûte?</strong></h5>
      <h5>Nous prenons également en compte votre budget pour déterminer avec l’artiste, la future création. Par la suite, nous vous enverrons gratuitement notre devis.</h5>
      <h5 style="text-decoration: underline; margin-top: 20px"><strong>Comment la commande se matérialise?</strong></h5>
      <h5>Après validation, nous organiserons une rencontre avec l’artiste afin que vous puissiez échanger directement avec lui, de la façon la plus naturelle possible. Un rendez-vous important qui lui permettra de faire connaissance avec vous et votre environnement et vous proposer une création qui vous ressemble en adéquation avec votre univers et votre intérieur. <br>
          Avant la réalisation de l’oeuvre in situ, une simulation numérique ou esquisse papier du projet vous sera envoyée. Vous pourrez ainsi visualiser la future création et mieux vous projeter.</h5>
    </div>
  </div>
</div>
