<div class="wrapper" id="studio">
  <h2 class="title">Le Studio</h2>
  <div class="container">
    <div class="accroche">
      <h5>Studio Cariatide est une agence parisienne regroupant de jeunes artistes émergents et confirmés. Sélectionnés pour leur travail fin et subtil, ils incarnent un art nouveau pluridisciplinaire dont l’ADN hybride entremêle à la fois : art et artisanat, scénographie et design d’intérieur. <br><br>
      La caractéristique de nos artistes est de créer des <strong>œuvres murales et spatiales</strong> chez les particuliers (appartements, maisons, lofts…) et les entreprises ( bureaux, locaux, cabinets…). <br><br>
      Inspirées par l’atmosphère du lieu et <strong>conçues in situ</strong>, nos œuvres s’incorporent à un intérieur sans jamais le dénaturer, dotant ce dernier d’une aura nouvelle et donnant vie à son architecture.  <br>
      Studio Cariatide vous propose une manière originale et avant-gardiste d’envisager l’art et son acquisition.</h5>
    </div>
    <div class="row">
      <div class="col-xs-6 img-studio">
        <%= image_tag "studio1.jpg"  %>
      </div>
      <div class="col-xs-6 img-studio">
        <%= image_tag "studio2.jpg"  %>
      </div>
    </div>
  </div>
</div>
