<div class="wrapper" id="studio">
  <h2 class="title">Le Studio</h2>
  <div class="container">
    <div class="accroche">
      <h5>Studio Cariatide est une agence parisienne regroupant des artistes plasticiens qui incarnent un art nouveau pluridisciplinaire, entremêlant à la fois : art et artisanat, scénographie et design d’intérieur. <br><br>
      Sélectionnés pour leur travail fin et subtil, la caractéristique de nos artistes est de créer des œuvres murales ou spatiales chez les particuliers (appartements, maisons, lofts…) et les entreprises ( bureaux, locaux, cabinets…).  <br><br>
      Inspirées par l’atmosphère du lieu et conçues in situ, nos œuvres s’incorporent à un intérieur sans jamais le dénaturer et dotent ce dernier d’une aura nouvelle donnant vie à son architecture. Des créations uniques et personnalisées faisant de votre espace, un lieu d’exception.<br><br>
      Studio Cariatide vous propose une manière originale et avant-gardiste d’envisager l’art et son acquisition mais également de sublimer votre quotidien.</h5>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <div class="img-studio1" style="background-image: url('<%= image_path('banner1.png') %>');">
        </div>
      </div>
      <div class="col-xs-7">
        <div class="img-studio1" style="background-image: url('<%= image_path('banner2.png') %>');">
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

