<div class="wrapper" id="studio">
  <h2 class="title">Le Studio</h2>
  <div class="container">
    <div class="accroche">
      <h5>Studio Cariatide est une agence parisienne regroupant de jeunes artistes émergents et confirmés. Sélectionnés pour leur travail fin et subtil, ils incarnent un art nouveau pluridisciplinaire dont l’ADN hybride entremêle à la fois : art et artisanat, scénographie et design d’intérieur.</h5>
    </div>
    <div class="row">
      <div class="col-md-6 img-studio">
        <%= image_tag "studio1.jpg"  %>
      </div>
      <div class="col-md-6 img-studio">
        <%= image_tag "studio2.jpg"  %>
      </div>
    </div>
<!--     <h5>La caractéristique des artistes de Studio Cariatide est de créer des œuvres murales et spatiales directement chez les particuliers et les entreprises. <br><br>Inspirées par l’atmosphère du lieu et conçues in situ, leurs œuvres s’incorporent dans votre espace sans jamais le dénaturer, dotant ce dernier d’une aura nouvelle et donnant vie à son architecture. <br><br>Toutes nos réalisations sont uniques et personnalisées. Les matériaux eux sont très variés : papier, bois, végétal, peinture... ; de même que les techniques et savoir-faire : peinture, sculpture, collage, design, graffiti… <br><br>De la conception à la réalisation de l’artiste, notre mission est de nous adapter à la demande des collectionneurs et commanditaires afin que cette collaboration soit des plus concluantes et réussies pour eux comme pour nos artistes.</h5> -->
  </div>
</div>
