<div class="wrapper">
  <div class="container">
      <h3>Pourquoi l'art en entreprise?</h3>
      <span style="font-style: italic;">*L’Article 238 bis AB du CGI : <br>
      « Les entreprises qui achètent, à compter du 1er janvier 2002, des œuvres originales d'artistes vivants et les inscrivent à un compte d'actif immobilisé peuvent déduire du résultat de l'exercice d'acquisition et des quatre années suivantes, par fractions égales, une somme égale au prix d'acquisition. » <br> <br>
      Les conditions :  <br>
      • Il doit s’agir d’une œuvre originale d’un artiste vivant ;  <br>
      • L’œuvre doit être exposée pendant 5 ans « dans un lieu accessible au public ou aux salariés » ;  <br>
      • Le montant de la déduction est égal au prix HT augmenté des frais accessoires ;  <br>
      • La déduction est pratiquée à hauteur d’ 1/5ème du prix (dans la limite de 0,5% du CA) par an pendant 5 ans. <br>
       Le site du ministère de la culture ou du service public, décrit les avantages du mécénat d’entreprise pour les acquisitions d’œuvres d’art contemporaines. Pour plus d’informations : https://www.service-public.fr/professionnels-entreprises/vosdroits/F32914 ou contactez-nous par mail ici (insérer lien vers mail) <br><br>
      Exemple : <br>

      Une entreprise réalise un C.A. de 200 000 € <br>
      Elle réalise une acquisition d’une ou plusieurs œuvres pour un montant de 5 000 € <br>
      Plafond de déduction : 200 000 X 5°/oo = 1 000 € <br>
      L’entreprise peut déduire 1000 € tous les ans (pendant 5 ans), soit 5 000 €.</span>
  </div>
</div>
